[build]
  command = "npm run build"
  publish = "dist"

[functions."process-order-gemini"]
  timeout = 60

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"


[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  
  [dev]
  # Set this to the port your local dev server (e.g., Vite) actually runs on
  targetPort = 3000